:root {
  --primary-blue: rgb(52, 152, 219);
  --primary-white: rgb(240, 240, 240);
  --primary-grey: rgb(199, 205, 209);
  --padding-main: 12px;
}

.Chat-box {
  display: flex;
  flex-direction: column;
  background: var(--primary-white);
  flex-grow: 1;
}

.Chat__Header-box {
  background: var(--primary-grey);
  color: var(--primary-blue);
  padding: var(--padding-main);
  display: flex;
  justify-content: space-between;
  max-height: 20px;
  min-height: 20px;
}

.Chat__OperatorName-box {
  align-self: center;
}

.Chat__CloseBtn-box {
  background: none;
  border: 0;
  color: white;
  font-size: 14px;
  align-self: center;
  outline: none;
  background: rgba(236, 240, 241, 0.2);
  cursor: pointer;
  border-radius: 40px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  line-height: 1;
  padding-top: 0;
  &:hover {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.12);
  }
  &:active {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0);
  }
}

.Chat__Body-box {
  display: flex;
  flex-grow: 1;
  padding: var(--padding-main);
  flex-direction: column;
  overflow-y: scroll;
}

.Chat__Form {
  display: flex;
  min-height: 40px;
  background: white;
}

.Chat__Input-box {
  padding: var(--padding-main);
  outline: 0;
  border: 1px solid #efefef;
  flex-grow: 1;
}