:root {
  --primary-blue: rgb(52, 152, 219);
  --primary-white: rgb(240, 240, 240);
  --primary-grey: rgb(199, 205, 209);
  --padding-main: 12px;
}

.Chat__Messenger {
  display: flex;
  flex-direction: column;
  background: var(--primary-white);
  flex-grow: 1;
  box-shadow: #dddddd 1px 1px 8px 0;
  border-width: 0 1px 1px 0; 
  border-style: solid;
  border-bottom: 0;
  border-radius: 0 3px 3px 0;

  border-color: #cccccc;
}

.Chat__Header__Messenger {
  background: #72a0e5;
  box-sizing: border-box;
  color: var(--primary-white);
  padding: var(--padding-main);
  display: flex;
  justify-content: space-between;
  height: 32px;
  border-radius: 3px 3px 0 0;
}

.Chat__OperatorName__Messenger {
  align-self: center;
}

.Chat__CloseBtn__Messenger {
  font-weight: 800;
  background: none;
  border: 0;
  color: white;
  font-size: 14px;
  align-self: center;
  outline: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  line-height: 1;
  padding-top: 0;
  &:active {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0);
  }
}

.Chat__Body__Messenger {
  list-style: none;
  display: flex;
  flex-grow: 1;
  padding: var(--padding-main);
  flex-direction: column;
  overflow-y: scroll;
  margin: 0;
}


/* ======= Float Style ======== */

.Chat__Float {
  position: absolute;
  right: 30px;
  bottom: 60px;
  background-color: transparent;
}

.Chat__Body__Float {
  display: block;
  width: 280px;
  height: 80vh;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  list-style: none;
  flex-grow: 1;
  justify-content: flex-end;
  padding-bottom: 64px;
  /* Push last message down; gives <Input /> room to breathe */
}

.Chat__CloseBtn__Float {
  position: absolute;
  bottom: -48px;
  /* right: -48px; */
  display: block;
  width: 42px;
  height: 42px;
  padding: 11px 5px 11px 6px;
  box-sizing: border-box;
  box-shadow: #dddddd 1px 1px 8px 0;
  border-radius: 21px;
  font-size: 13px;
  font-family: 'Arial', sans-serif;
  color: #ffffff;
  background-color: #72a0e5;
  border: 0;
}