:root {
  --primary-blue: rgb(52, 152, 219);
  --primary-white: rgb(240, 240, 240);
  --padding-main: 12px;
}


.Chat-box {
  display: flex;
  flex-direction: column;
  background: var(--primary-white);
  flex-grow: 1;
}

.Chat__Header-box {
  background: var(--primary-blue);
  color: var(--primary-white);
  padding: var(--padding-main);
  cursor: pointer;
}

.Chat__Body-box {
  display: flex;
  flex-grow: 1;
  padding: var(--padding-main);
  flex-direction: column;
  overflow-y: scroll;
}

.Chat__Form {
  display: flex;
  min-height: 40px;
  margin: var(--padding-main);
  background: white;

}

.Chat__Input-box {
  padding: var(--padding-main);
  outline: 0;
  border: 1px solid #efefef;
  flex-grow: 1;

}
