:root {
  --primary-blue: rgb(52, 152, 219);
  --primary-white: rgb(240, 240, 240);
  --padding-main: 12px;
}


.App {
  font-size: 12px;
  font-family: Arial;
}

.App__container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.App-box {
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 0;
  right: 100px;
  width: 260px;
  height: 400px;
}
